@import '@/assets/scss/rem.scss';

.default-margin {
    text-align: center;
    .title {
        display: block;
        font-size: px2rem(24px);
        font-weight: bold;
    }
    .card-list {
        .card {
            list-style: none;
            display: block;
            font-size: px2rem(20px);
            font-weight: lighter;
        }
    }
}
